body{
    /* background-color: lightblue; */
    background-image: url(background\ gelsi\ extra\ 6.jfif);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.p1{
    text-align: left;
    letter-spacing: 0,5px;
    word-spacing: 1px;
}


.p2{
    text-align: center;
}
.p3{
    text-align: right;
}
.p4{
    text-align: justify;
    /* lem = 16px */
   text-indent: 2em;}
    
.dec1 {
   text-decoration:underline wavy rgb(234, 6, 6);

}

.trans1 {
 color: blueviolet;
text-transform: uppercase;

}